<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <a th:href="@{/create}"><button>Thêm bài hát mới</button></a>
    <table>
        <tr>
            <th>STT</th>
            <th>SONG</th>
            <th>NAMESINGER</th>
            <th>TYPE</th>
            <th>Edit</th>
        </tr>
        <tr th:each="song,loop: ${songList}">
            <td th:text="${loop.count}"></td>
            <td th:text="${song.name}"></td>
            <td th:text="${song.nameSinger}"></td>
            <td th:text="${song.type}"></td>
            <td><a th:href="@{/edit/{id}(id=${song.getId()})}"><button>Edit</button></a></td>
        </tr>
        <p1 th:if="${msg}" th:text="${msg}"></p1>
    </table>
</body>
</html>