<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="code.jquery.com_jquery-3.7.0.min.js"></script>
</head>
<body>
<input placeholder="Search" id="search" type="text">
<button id="searchBlog" onclick="display()">Tìm kiếm</button>
<table border="1">
    <thead>
    <tr>
        <th>STT</th>
        <th>Tiêu đề</th>
        <th>Ngày đăng bài</th>
        <th>Thể loại blog</th>
        <th>Tác giả</th>
    </tr>
    </thead>
    <tbody id="content">
    </tbody>
</table>
<div id="btnReadMore"></div>
<script>
    setTimeout(function () {
        display();
    }, 5000);

    display();
    function display(newPage) {
        let content = "";
        let btn = "";
        let page = 0;
        if (newPage > 0) {
            page = newPage;
        }
        let search = $("#search").val()
        $.ajax({
            contentType: "application/json",
            method: "GET",
            dataType: "json",
            url: "http://localhost:8080/api/blogs?page=" + page + "&search=" + search,
            success: function (data) {
                let length=data.content.length
                for (let i = 0; i < length; i++) {
                    content += `<tr>
                                    <td>${i+1}</td>
                                    <td>${data.content[i].author}</td>
                                    <td>${data.content[i].name}</td>
                                    <td>${data.content[i].content}</td>
                                    <td>${data.content[i].category.name}</td>
                                </tr>`
                }
                btn += `<button onclick="readMore(${page})">Read More</button>`;
                $("#content").append(content)
                $("#btnReadMore").html(btn)
            }
        })
    }

    function readMore(page) {
        page += 1;
        display(page);
    }
</script>
</body>
</html>